<!DOCTYPE html>
<html lang="en">










	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible"
			content="IE=edge">
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0">
		<title>
			Gestion d'École - Larose IKITAMA
		</title>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
		<link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
	</head>









	<body>
		<!-- HEADER -->
		<header>
			<!-- NAME -->
			<h1>Larose Ikitama</h1>
			<!-- SPAN -->
			<span class="separator"></span>
			<!-- STATUS -->
			<h2>Developpeur Web</h2>
			<!-- LOGO -->
			<img src="../images/logo.png"
				alt="Logo IKITAMA"
				title="Logo IKITAMA"
				id="logo">
		</header>










		<!-- Menu -->
		<nav>
			<!-- LINKS -->
			<ul>
				<li>
					<a href="../index.html"
						title="Aller à l'acceuil">
						Acceuil
					</a>
				</li>
				<li>
					<a href="#contact">Contact</a>
				</li>
			</ul>
		</nav>
		<!-- content -->
		<div class="contener">










			<!-- PRESENTATION -->
			<section>
				<h3>Introduction</h3>
				<!-- DESCRIPTION -->
				<p>
					Bienvenue dans mon projet de Gestion d'école, une application web dynamique conçue pour simplifier la gestion des écoles et des classes. Ce projet a été développé en utilisant les technologies <span class="evidence">Spring Boot</span> pour la partie back-end et <span class="evidence">Angular</span> pour l'interface utilisateur, offrant ainsi une expérience conviviale et efficace.
				</p>
				<p>
					Cette application de gestion d'école offre une solution complète pour la gestion efficace des écoles, des salles de classe, des étudiants, des matières et des notes. Elle est conçue pour simplifier les tâches administratives liées à l'éducation, tout en fournissant un accès facile aux résultats académiques des étudiants.
				</p>
                <p>
                    Ce projet démontre ma capacité à concevoir et à développer des applications web robustes et fonctionnelles en utilisant des technologies modernes. Il met en avant mon expertise dans la création de systèmes de gestion complets, tout en garantissant la sécurité et l'efficacité des opérations.
                </p>
			</section>






			<!-- PRODUCTION -->
			<section id="picture-project">
					<iframe width="80%" height="315" src="https://www.youtube.com/embed/mzTYk8ZGTOQ?si=InAB08TM3uPbSx8n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>




			</section>
            
            <!-- CODES D'ACCÈS -->
        <section>
            <h3>Codes d'Accès</h3>
            <p>
                Pour accéder à l'application, utilisez les codes d'accès suivants :
            </p>
            <ul>
                <li>
                    <h4>Utilisateur Administration :</h4>
                    <p>Email d'utilisateur : <span class="evidence">administration@gmail.com</span> | Mot de passe : <span class="evidence">passer123</span></p>
                </li>
            </ul>
        </section>
<!-- LIEN VERS LE SITE DÉPLOYÉ -->
<section>
    <h3>Site Déployé</h3>
    <p>
        Vous pouvez explorer l'application en direct en suivant ce lien : <a href="https://ikitama-larose-angular-management-schools.vercel.app/" target="_blank">Accéder au site</a>
    </p>
</section>
			<!-- FONCTIONNALITÉS CLÉS -->
			<section>
				<h3>
					Fonctionnalités Clés
				</h3>
				<ol>
					<li>
						<h4>Gestion des Salles de Classe :</h4>
						<p>
							Vous pouvez créer, lire, mettre à jour et supprimer des salles de classe, facilitant ainsi la gestion des infrastructures scolaires.
						</p>
					</li>
					<li>
						<h4>Gestion des Étudiants :</h4>
						<p>
							Effectuez facilement des opérations CRUD sur les étudiants, en ajoutant, en mettant à jour et en supprimant des informations d'élèves.
						</p>
					</li>
					<li>
						<h4>Gestion des Matières :</h4>
						<p>
							Associez des matières à des salles de classe pour organiser le programme éducatif de manière efficace.
						</p>
					</li>
					<li>
						<h4>Gestion des Notes :</h4>
						<p>
							Attribuez des notes aux étudiants pour suivre leur performance académique, consulter leur bulletin et le télécharger pour avoir un aperçu complet de leurs résultats.
						</p>
					</li>
					<li>
						<h4>Gestion des Utilisateurs :</h4>
						<p>
							Les administrateurs peuvent gérer les utilisateurs, notamment en créant, en mettant à jour et en supprimant des comptes. Les actions sur les utilisateurs sont limitées aux rôles d'administrateur.
						</p>
					</li>
					<li>
						<h4>Paramètres Utilisateur :</h4>
						<p>
							Les utilisateurs peuvent personnaliser leur nom et leur mot de passe, garantissant une expérience utilisateur individualisée.
						</p>
					</li>
					<li>
						<h4>Attribution des Rôles :</h4>
						<p>
							Le super administrateur a le pouvoir d'attribuer le rôle d'administrateur à d'autres utilisateurs, facilitant la gestion des accès. 
                            <p>L'administrateur a le pouvoir d'attribuer le rôle d'administration à d'autres utilisateurs.</p>
						</p>
					</li>
				</ol>
			</section>







			<!-- CONTACT -->
			<section class="contact">
				<h3>Contact</h3>












				<div id="contact">












					<p>
						Si vous voulez me contacter n'hesitez pas à m'envoyer un email à
						<b>
							<a href="mailto:laroseikitama@gmail.com">
								laroseikitama@gmail.com
							</a>
						</b>
					</p>











				</div>










			</section>
		</div>









		<!-- FOOTER -->
		<footer>
			<p>
				Copyright © 2023 Larose IKITAMA
			</p>
		</footer>
	</body>
</html>
