<!DOCTYPE html>
<html lang="en">












	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible"
			content="IE=edge">
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0">
		<title>
			Gestion de Tâches - Larose IKITAMA
		</title>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
		<link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
	</head>











	<body>
		<!-- HEADER -->
		<header>
			<!-- NAME -->
			<h1>Larose Ikitama</h1>
			<!-- SPAN -->
			<span class="separator"></span>
			<!-- STATUS -->
			<h2>Developpeur Web</h2>
			<!-- LOGO -->
			<img src="../images/logo.png"
				alt="Logo IKITAMA"
				title="Logo IKITAMA"
				id="logo">
		</header>












		<!-- Menu -->
		<nav>
			<!-- LINKS -->
			<ul>
				<li>
					<a href="../index.html"
						title="Aller à l'acceuil">
						Acceuil
					</a>
				</li>
				<li>
					<a href="#contact">Contact</a>
				</li>
			</ul>
		</nav>
		<!-- content -->
		<div class="contener">












			<!-- PRESENTATION -->
			<section>
				<h3>Introduction</h3>
				<!-- DESCRIPTION -->
				<p>
					Bienvenue dans mon projet de gestion de tâches, une application web conçue pour simplifier la gestion de vos tâches quotidiennes. Cette application a été développée avec le  <span class="evidence">framework Laravel</span>, offrant une expérience utilisateur conviviale et sécurisée.
				</p>
				<p>
					L'objectif principal de cette application est de vous permettre de créer, lire, mettre à jour et supprimer des tâches en toute simplicité.
				</p>
				<p>
					Ce projet démontre ma capacité à concevoir et à développer des applications web fonctionnelles et sécurisées. Il vise à simplifier la gestion des tâches quotidiennes pour les utilisateurs tout en offrant une expérience fluide et intuitive.
				</p>
			</section>








			<!-- PRODUCTION -->
			<section id="picture-project">
					<iframe width="80%" height="315" src="https://www.youtube.com/embed/D15XlhvWmrQ?si=aJ0MCvqzEoMC-ccy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>






			</section>


			<!-- LIEN VERS LE SITE DÉPLOYÉ -->
			<section>
				<h3>Site Déployé</h3>
				<p>
					Vous pouvez explorer l'application en direct en suivant ce lien :
					<a href="https://ikitamalarose-todo-list-e24f54ae3d42.herokuapp.com/"
						target="_blank">
						Accéder au site
					</a>
				</p>
			</section>
			<!-- FONCTIONNALITÉS CLÉS -->
			<section>
				<h3>
					Fonctionnalités
				</h3>
				<ol>
					<li>
						<h4>
							Gestion des Tâches :
						</h4>
						<p>
							Vous pouvez créer, lire, mettre à jour et supprimer des tâches, en les associant à des listes personnalisées pour une meilleure organisation.
						</p>
					</li>
					<li>
						<h4>
							Filtrage et Recherche :
						</h4>
						<p>
							Vous avez la possibilité de filtrer les tâches en fonction de leur statut (à faire, en cours, terminées) et d'effectuer des recherches pour trouver rapidement ce que vous cherchez.
						</p>
					</li>
					<li>
						<h4>
							Gestion des Utilisateurs :
						</h4>
						<p>
							Les utilisateurs peuvent s'inscrire et se connecter, avec la possibilité d'accéder à leurs propres listes de tâches. L'administrateur a un accès étendu pour gérer les utilisateurs.
						</p>
					</li>
				</ol>
			</section>









			<!-- CONTACT -->
			<section class="contact">
				<h3>Contact</h3>














				<div id="contact">














					<p>
						Si vous voulez me contacter n'hesitez pas à m'envoyer un email à
						<b>
							<a href="mailto:laroseikitama@gmail.com">
								laroseikitama@gmail.com
							</a>
						</b>
					</p>













				</div>












			</section>
		</div>











		<!-- FOOTER -->
		<footer>
			<p>
				Copyright © 2023 Larose IKITAMA
			</p>
		</footer>
	</body>
</html>
